@font-face{
    font-family: "PetronaBold";
    src:url(../bookstores/fonts/Petrona-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "PetronaBoldItalic";
    src:url(../bookstores/fonts/Petrona-BoldItalic.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "PetronaLight";
    src:url(../bookstores/fonts/Petrona-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "PetronaLightItalic";
    src:url(../bookstores/fonts/Petrona-LightItalic.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "PetronaThin";
    src:url(../bookstores/fonts/Petrona-Thin.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "PetronaThinItalic";
    src:url(../bookstores/fonts/Petrona-ThinItalic.ttf);
    font-weight: normal;
    font-style: normal;
}