/*############################################ Import ############################################*/
@import url('setting_style.css');
@import url('head_style.css');
@import url('footer_style.css');

*{
    margin: 0px;
    padding: 0px;
}

body{
    display: block;
    width: 100%;
    margin: 0px auto;
    background-color: var(--color--07);
}

html, body{
    margin: auto;
    width: 100%; 
    min-width: 600px;
    max-width: 1910px;
	zoom: 100%;
}