#footer_container h6{
    float: left;
    padding-top: 10px;
    padding-left: 18px;
    padding-bottom: 5px;
}

.footer_copy{
    display: block;
    width: 550px;
    font-family: var(--font-family--Titulo-GD);
    font-size: 15px;
    letter-spacing: 2px;
}

#footer_container p{
    float: right; 
    padding-top: 10px;
    padding-bottom: 5px; 
}

.footer_dev{
    display: block;
    width: 410px;
    font-family: var(--font-family--Titulo-GD);
    font-size: 15px;
    letter-spacing: 2px;
}

.footer_dev a{
    text-decoration: none; 
    color: var(--color--04);
}

.footer_dev a:hover{
    color: var(--color--01);
    transition: 1s;
}